<ion-list no-line>
  <ion-item *ngFor="let file of uploaded">
    <ion-icon name="{{file.icon}}" class="fa" item-left></ion-icon>
    {{ file.filename }}
  </ion-item>

  <ion-item *ngIf="uploaded.length === 0">
    No uploaded files available.
  </ion-item>

  <button ion-button round color="purple" (click)="upload($event)">Upload</button>

  <ion-item text-wrap>
    <p>
      Images, testimonials, documents, etc. Any evidence you think can appropriately show that you have applied what you have learnt in the real world.
    </p>
  </ion-item>
</ion-list>
