<div class="item item-text-wrap">
  <span class="item item-text-wrap item-divider" [innerHtml]="question.name"></span>

  <div class="item item-text-wrap">
    <div class="spacer-bottom" *ngIf="question.answers.submitter">
      <p>Student Submission</p>
      <div *ngFor="let answ of question.answers.submitter">
        <div class="photo" style="text-align: center;">
          <div class="photo">
            <img [src]="answ.answer" />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="question.answers.reviewer">
      <p>Reviewer Submission</p>
      <div *ngFor="let answ of question.answers.reviewer">
        <div class="photo" style="text-align: center;">
          <div class="photo">
            <img [src]="answ.answer" />
          </div>
        </div>
      </div>

      <div>
        <button filepicker type="filepicker" data-fp-image-max="600,600"
          data-fp-store-location="S3" data-fp-mimetype="image/*"
          data-fp-multiple="false" data-fp-background-upload="false"
          data-fp-custom-css="https://s3-us-west-2.amazonaws.com/intersective-public/css/filepicker_1.css"
          data-fp-services="COMPUTER,GOOGLE_DRIVE,DROPBOX,GMAIL,WEBCAM,INSTAGRAM,FLICKR,URL"
          data-fp-store-location="uploads/"
          on-success="onSuccess(question, event.fpfile, {group: group})"></button>
      </div>
    </div>
  </div>
</div>
