<div class="text">
  <div class="item item-text-wrap item-divider" [innerHtml]="question.name"></div>

  <div class="spacer-top item item-text-wrap" *ngIf="question.answers.submitter">
    <p>Student Submission</p>
    <div class="item" *ngFor="let answ of question.answers.submitter"
      [innerHtml]="answ.answer || answ.comment"></div>
  </div>

  <div class="item item-text-wrap"
    *ngFor="let answ of question.answers.reviewer"
    [innerHtml]="answ.answer || answ.comment"></div>

  <textarea *ngIf="question.answers.reviewer.length === 0"
    [(ngModel)]="formData.questions[question.id].comment"
    style="width: 100%; padding: 1em; resize:none;" rows="8">
  </textarea>
</div>
