<div>
  <div class="power_controls">
    <button ion-button color="primary" block [disabled]="statuses.spinOn">
      Spin
    </button>
    <div>
      SPINS: <span id="spins">{{  statuses.chances }}</span>
    </div>
    <div>
      POINTS: <span id="points">{{ statuses.value }}</span>
    </div>
  </div>

  <canvas id="spinwheel" width="434" height="434">
    <p style="{color: white}" align="center">
      Sorry, your browser doesn't support canvas. Please try another.
    </p>
  </canvas>
</div>
