<table cellpadding="0" cellspacing="0" border="0">
  <tr>
   <td>
      <div class="power_controls">
        <img id="spin_button" src="./assets/img/static/spin_on.png" alt="Spin" onClick="calculatePrizeOnServer();" />
        SPINS: <span id="spins">5</span>
        POINTS: <span id="points">0</span>
       </div>
    </td>

    <td width="438" height="582" class="the_wheel" align="center" valign="center">
      <canvas id="canvas" width="434" height="434">
        <p style="{color: white}" align="center">Sorry, your browser doesn't support canvas. Please try another.</p>
      </canvas>
    </td>
  </tr>
</table>
