<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RANKING.PAGETITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="rankings">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>
  <ion-list class="ranking-list">
    <ion-col *ngFor="let listData of rankingsFakeData; let i = index">
      <div class="ranking-item">
        <!-- <p col-1 *ngIf="i == 0"><ion-icon name="beer"></ion-icon></p>
        <p col-1 *ngIf="i == 1"><ion-icon name="logo-bitcoin"></ion-icon></p>
        <p col-1 *ngIf="i == 2"><ion-icon name="book"></ion-icon></p> 
        <p col-1 *ngIf="i > 2">{{ i+1 }}</p>  -->
        <!-- please keep it for future usage -->
        <p col-2>{{ i+1 }}</p>
        <p col-7>{{ listData.name }}</p>
         <p col-2 class="user-score"><b>{{ listData.score }}</b></p> 
        <p col-1></p> 
      </div>
    </ion-col>
  </ion-list>
  <ion-list class="my-ranking" (click)="goRankingDetail()">
    <ion-row>
      <div class="ranking-item">
        <p col-2>{{ userRanking }}</p>
        <p col-7>{{ 'RANKING.ME' | translate }}</p>
        <p col-2><b>{{ userScore }}</b></p>
        <p col-1><ion-icon name="arrow-forward"></ion-icon></p> 
      </div>
    </ion-row>
  </ion-list>
</ion-content>
