<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="flex-display">
          <ion-title>{{ 'RESETPASSWORD.PAGETITLE' | translate }}</ion-title>
          <button (click)="closeModal()" class="close" menuClose="right">&times;</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="login-container">
  <form #resetPasswordForm="ngForm"
    [formGroup]="resetPwdFormGroup"
    class="login-form">
    <ion-list>
      <ion-item no-lines>
        <ion-input type="password"
          [(ngModel)]="password"
          name="password"
          placeholder="New Password"
          formControlName="password"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-input type="password"
          (keyup)="verifyPwdKeyUp()"
          [(ngModel)]="verify_password"
          name="verify_password"
          placeholder="Confirm password"
          formControlName="verify_password"></ion-input>
      </ion-item>
    </ion-list>
      <button type="submit"
        ion-button
        color="button"
        class="general-circle-btn"
        (click)="updatePassword()"
        [disabled]="password!=verify_password || resetPasswordForm.invalid">
        {{ 'GENERAL.DONE' | translate }}
      </button>
    <div *ngIf="verifyPwd == true">
      <div *ngIf="pwdMatchCheck()" class="error-hint">
        <small class="text-danger">
          {{ passwordMismatchMessage }}
        </small>
      </div>
      <div *ngIf="checkMinLength() == true" class="error-hint">
        <small class="text-danger">
          {{ passwordMinlengthMessage }}
        </small>
      </div>
    </div>
  </form>
</ion-content>
