<ion-header>
  <ion-navbar>
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="events">
  <ion-list class="title-background"
    [ngStyle]="{'background-image': 'url(' + event.coverUrl + ')'}">
    <div *ngIf="event.isBooked" class="status">
      <div class="tag" color="palette-five">{{ (event.isAttended) ? 'Attended' : 'Booked' }}</div>
    </div>
    <div class="title">{{ event.title }}</div>
  </ion-list>

  <ion-list class="details">
    <ion-row>
      <ion-col col-6 class="info">
        <p><b>{{ event.startDisplayDate }}</b></p>
        <p><b>{{ event.startDisplayTime ? 'at ' + event.startDisplayTime : '' }} {{ event.endDisplayTime ? ' - ' + event.endDisplayTime : '' }}</b></p>
        <p class="lighter">{{ event.location }}</p>
        <p class="lighter">{{ event.activity.name }}</p>
      </ion-col>
      <ion-col col-6>
        <img *ngIf="event.isOriginal" src="assets/img/static/pe-logo-name.png" />
        <img *ngIf="!event.isOriginal" src="assets/img/static/pe-logo-recommended.png" />
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list no-lines class="details-description">
    <ion-item text-wrap>
      {{ event.description || 'No description available.' }}
    </ion-item>
  </ion-list>
  <ion-list inset class="download" *ngIf="event.files && event.files.length > 0">
    <button ion-item (click)="gotoDownload(event)" detail-push>{{ 'GENERAL.DOWNLOAD' | translate }}</button>
  </ion-list>
</ion-content>

<ion-footer class="events">
  <ion-toolbar>
    <p *ngIf="event.capacity > 0" class="lighter spacer-left">
      {{ bookingStatus }}
    </p>
    <p *ngIf="event.capacity === 0" class="lighter spacer-left">
      Please read description for booking information
    </p>
    <ion-buttons end *ngIf="loadings.checkin">
      <ion-spinner></ion-spinner>
    </ion-buttons>

    <ion-buttons end *ngIf="!loadings.checkin && event.capacity > 0">
      <button ion-button *ngIf="!event.isBooked" class="book-btn primary-button" (click)="book()">
        {{ 'EVENTS.BOOK' | translate }}
      </button>

      <button ion-button *ngIf="event.isBooked && allowCheckIn(event) && completedSubmissions" class="checkin-btn primary-button" (click)="checkin()">
        <span>
          {{ 'EVENTS.VIEWCHECKIN' | translate }}
        </span>
      </button>

      <button ion-button *ngIf="event.isBooked && allowCheckIn(event) && !completedSubmissions" class="checkin-btn primary-button" (click)="checkin()" [attr.disabled]="(event.isStarted) ? null : true">
        <span>
          {{ 'EVENTS.CHECKIN' | translate }}
        </span>
      </button>

      <button ion-button *ngIf="
        !completedSubmissions &&
        !event.isAttended &&
        event.isBooked &&
        allowCheckIn(event)
      " class="cancel-btn" outline (click)="cancelBooking(event)">
          {{ 'EVENTS.CANCELBOOKING' | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
