<ion-header>
  <readonly></readonly>
  <ion-navbar>
    <ion-title>{{ event.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="events" data-track-content>
  <ion-list
    class="title-background"
    [ngStyle]="{'background-image': 'url(' + event.coverUrl + ')'}">
    <div class="title" data-track-name>{{ event.title }}</div>
  </ion-list>
  <div *ngIf="event.isBooked" class="status">
    <div *ngIf="eventTag" class="tag event-view-tag" color="palette-five">{{ eventTag }}</div>
  </div>
  <ion-list class="details">
    <ion-row>
      <ion-col col-6 class="info">
        <p><b>{{ event.startDisplayDate }}</b></p>
        <p><b>{{ event.startDisplayTime ? 'at ' + event.startDisplayTime : '' }} {{ event.endDisplayTime ? ' - ' + event.endDisplayTime : '' }}</b></p>
        <p class="lighter">{{ event.location }}</p>
        <p class="lighter">{{ event.activity.name }}</p>
      </ion-col>
      <ion-col col-6>
        <img *ngIf="event.isOriginal" src="assets/img/static/pe-logo-name.png" />
        <img *ngIf="!event.isOriginal" src="assets/img/static/pe-logo-recommended.png" />
      </ion-col>
    </ion-row>
  </ion-list>

  <ion-list no-lines class="details-description">
    <ion-item text-wrap>
      <span *ngIf="event.description" [innerHTML]=" event.description | linky"></span>
      <span *ngIf="!event.description">No description available.</span>
    </ion-item>
  </ion-list>
  <ion-list inset class="download" *ngIf="event.files && event.files.length > 0">
    <button ion-item  data-track-piece="Download event file" (click)="gotoDownload(event)" detail-push>{{ 'GENERAL.DOWNLOAD' | translate }}</button>
  </ion-list>
</ion-content>

<ion-footer class="events" data-content-name="booking status">
  <ion-toolbar>
    <p *ngIf="event.capacity > 0" class="lighter spacer-left">
      {{ bookingStatus }}
    </p>
    <p *ngIf="event.capacity === 0" class="lighter spacer-left">
      Please read description for booking information
    </p>
    <ion-buttons end *ngIf="loadings.checkin">
      <ion-spinner></ion-spinner>
    </ion-buttons>

    <ion-buttons end *ngIf="!loadings.checkin && event.capacity > 0">
      <button data-track-piece="book" ion-button *ngIf="!event.isBooked" class="book-btn primary-button" (click)="book()">
        {{ 'EVENTS.BOOK' | translate }}
      </button>

      <div *ngIf="event.isBooked">
        <button data-track-piece="view checkin" ion-button *ngIf="(event.References && event.References.length > 0) && completedSubmissions" class="checkin-btn primary-button" (click)="checkin()">
          <span>
            {{ 'EVENTS.VIEWCHECKIN' | translate }}
          </span>
        </button>

        <button data-track-piece="checkin" ion-button *ngIf="(event.References && event.References.length > 0) && !completedSubmissions" class="checkin-btn primary-button" (click)="checkin()" [disabled]="event.isStarted">
          <span>
            {{ 'EVENTS.CHECKIN' | translate }}
          </span>
        </button>

        <button data-track-piece="cancel booking" ion-button *ngIf="!completedSubmissions && !event.isAttended" class="cancel-btn" outline (click)="cancelBooking(event)">
          <span>
            {{ 'EVENTS.CANCELBOOKING' | translate }}
          </span>
        </button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
