
rankings-details-page {
  .scroll-content {
    bottom: 0px;
  }
}
rankings-list-page {
  .list-md > .item-block:first-child,
  .list-ios > .item-block:first-child,
  .list-md > .item-block:last-child,
  .list-ios > .item-block:last-child {
    border: none;
  }
  .general-ranking {
    ion-item:last-child {
      margin-bottom: 53px;
    }
  }
  .my-ranking {
    ion-item:last-child {
      margin-bottom: 0px;
    }
  }
}
.rankings {
  ion-footer {
    position: fixed;
    bottom: 53px;
    ion-toolbar {
      padding: 0px;
      height: 53px;
      background: color($colors, background, contrast);
    }
  }
  ion-list {
    margin: 0px;
  }
  ion-col {
    padding: 0px;
  }
  .ranking-list {
    .user-score {
      text-align: right;
      b {
        font-weight: normal;
        width: 100%;
        text-align: right;
      }
    }
  }
  .my-ranking {
    width: 100%;
    background: color($colors, secondary, base);
    .ranking-item {
      p {
        border: none;
        b {
          font-weight: normal;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  ion-list ion-label {
    margin: 0px;
  }
  .ranking-item {
    width: 100%;
    display: flex;
    .blur-hidden-text {
      color: transparent;
      text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px;
    }
    ion-icon {
      font-size: 10pt;
      font-weight: 900;
    }
    ion-icon[name=arrow-forward] {
      font-weight: normal;
      font-size: 18pt;
      padding-left: 8pt;
      color: #bbb;
    }
    .badge-image {
      width: 60px;
      height: 60px;
    }
    p {
      display: flex;
      align-items: center;
      word-break: break-all;
      margin: 0px;
      padding: 15px 0pt;
      border-bottom: 1px solid color($colors, border, base);
    }
    p:first-child {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// 17. Ranking details page stylings
rankings-details-page {
  padding: 0 6pt;
  .ranking-details {
    .scroll-content {
      bottom: 0px !important;
    }
  }
  .ranking-item {
    p {
      border: none !important;
    }
  }
  .ranking-detail-item {
    padding: 2pt 0;
    border-bottom: 1px solid color($colors, border, base);
  }
  .points-display {
    padding: 2pt 0;
    display: flex;
    border-bottom: 1px solid color($colors, border, base);
  }
}
