<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="flex-display">
          <ion-title>{{ 'REGISTRATION.PAGETITLE' | translate }}</ion-title>
          <button (click)="closeModal()" class="close" menuClose="right" *ngIf="changeContent == false">&times;</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="login-container">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)" class="login-form" [formGroup]="regForm">
    <ion-list>
      <ion-item no-lines>
        <ion-input type="password" [(ngModel)]="password" placeholder="New Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-input (keyup)="verifyPwdKeyUp()" type="password" name="verify_password" [(ngModel)]="verify_password" placeholder="Confirm password" formControlName="verify_password"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit"
      ion-button
      color="button"
      class="general-circle-btn"
      [disabled]="password!=verify_password || regForm.invalid">
      {{ 'GENERAL.DONE' | translate }}
    </button>
    <div *ngIf="verifyPwd == true">
      <div *ngIf="pwdMatchCheck()" class="error-hint">
        <small class="text-danger">
         {{ passwordMismatchMessage }}
        </small>
      </div>
      <div *ngIf="checkMinLength() == true" class="error-hint">
        <small class="text-danger">
         {{ passwordMinlengthMessage }}
        </small>
      </div>
    </div>
  </form>
</ion-content>
