questionGroup {
  .box {
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: $border-primary;
  }

  .header {
    position: relative;

    .title {
      font-size: 1.3em;
    }

    .description {
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 3.6em;
      line-height: 1.8em;
    }

    button {
      position: absolute;
      top: -7px;
      right: 0px;
    }

    .status {
      text-align: right;
    }

    .completed {
      color: $toolbar-active-color
    }

    .incomplete {
      color: $toolbar-inactive-color
    }
  }

  .answer {
    min-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
