<div class="questionGroup">
  <ion-card class="rounded">

    <ion-list>
      <button ion-item text-wrap no-lines>{{ group.name }}</button>
    </ion-list>

    <ion-row class="header">
      <ion-col text-left *ngIf="group.totalRequiredQuestions === 0">
        <ion-badge color="background" class="incomplete">Optional</ion-badge>
      </ion-col>
      <ion-col>
        <div class="description" [innerHTML]="group.description | keepHtml"></div>

        <div class="status feedback-available" *ngIf="
          group.submission &&
          group.submission.status === 'published' &&
          group.status === 'reviewed' ">
          Feedback Available
        </div>

        <div class="status completed" *ngIf="
          group.totalRequiredQuestions > 0 &&
          group.status === 'completed' &&
          (!group.submission || group.submission.status === 'in progress') ">
          Completed
        </div>

        <div class="status incomplete" *ngIf="
          group.totalRequiredQuestions > 0 &&
          group.status === 'incomplete' &&
          (!group.submission || group.submission.status === 'in progress') ">
          Incomplete
        </div>
      </ion-col>
    </ion-row>

  </ion-card>
</div>
