<div class="questionGroup">
  <ion-card class="rounded">
    <ion-card-content>
      <div class="header">
        <button ion-button icon-only small clear class="pull-right">
          <ion-icon name="ios-arrow-forward-outline" color="primary-light"></ion-icon>
        </button>

        <span class="title">{{ group.name }}</span>
        <div class="description" [innerHTML]="group.description | keepHtml"></div>
        <div class="status feedback-available" *ngIf="group.reviewerFeedback > 0">Feedback Available</div>
        <div class="status completed" *ngIf="
          group.submission &&
          group.submission.status !== 'in progress'
        ">
          Completed
        </div>
        <div class="status incomplete" *ngIf="
          !group.submission ||
          group.submission.status === 'in progress'
        ">
          Incomplete
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
