<ion-header>
  <ion-navbar>
    <ion-title>{{ assessment.name }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="clickSubmit()" [disabled]="!allowSubmit">
        Submit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div *ngFor="let assessmentGroup of assessmentGroups; let i = index">
    <div *ngFor="let assessment of assessmentGroup; let j = index">

      <ion-card *ngIf="assessment.Assessment.description" class="rounded">
        <ion-card-content>
          <div [innerHTML]="assessment.Assessment.description"></div>
        </ion-card-content>
      </ion-card>

      <questionGroup
        *ngFor="let group of assessment.AssessmentGroup; let q = index"
        [group]="group"
        (click)="gotoAssessment(group)"
      >
      </questionGroup>
    </div>
  </div>


</ion-content>
