assessments-page {
  .scroll-content {
    background-color: color($colors, secondary, base);
  }

  ion-card.no-box-shadow {
    box-shadow: none;
  }

  .btn-submit[disabled] {
    display: none;
  }
}
