<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button (click)="clickSubmit()" class="btn-submit" *ngIf="allowSubmit">
        {{ 'GENERAL.SUBMIT' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content data-track-content>
  <div *ngFor="let assessmentGroup of assessmentGroups; let i = index">
    <div *ngFor="let assessment of assessmentGroup; let j = index" data-track-name="{{ assessment.description || assessment.name }}">
      <ion-card *ngIf="assessment.description || assessment.name" class="no-box-shadow">
        <ion-card-content>
          <h2 *ngIf="assessment.name" class="text-center assessment-title">{{ assessment.name }}</h2>
          <p *ngIf="assessment.description" [innerHTML]="assessment.description" class="assessment-description"></p>
        </ion-card-content>
      </ion-card>
      <questionGroup
        *ngFor="let group of assessment.AssessmentGroup; let q = index"
        [group]="group"
        (click)="gotoAssessment(group, activity)"
      >
      </questionGroup>
    </div>
  </div>
</ion-content>
