<ion-header>
  <readonly></readonly>
  <ion-navbar>
    <ion-title>{{ this.achievement.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="achievements-view" data-track-content>
  <ion-list inset data-track-name="achievement">
    <ion-list-header>
      <img data-track-piece
        class="badge {{ (!this.achievement.achieved) ? 'unachieved' : '' }}"
        alt="{{this.achievement.name}}"
        src="{{this.achievement.badge}}"
      />
    </ion-list-header>
    <ion-item>
      <ion-label>{{ 'ACTIVITY.POINTS' | translate }}</ion-label>
      <ion-label class="point">{{ this.achievement.points }}</ion-label>
    </ion-item>
    <ion-item>
      <p data-track-piece>{{ this.achievement.description }}</p>
    </ion-item>
  </ion-list>
</ion-content>
