<ion-content class="settings" padding="true" data-track-content>
  <ion-list no-lines data-track-name="setting">
    <ion-list-header>
      {{ 'SETTINGS.PROFILE' | translate }} <span *ngIf="getUserEmail()">({{ getUserEmail() }})</span>
    </ion-list-header>
    <ion-item [ngClass]="{'item-hidden':(hideMe), 'item-visible':(!hideMe)}">
      <!-- <ion-label *ngIf="!hideMe" text-wrap>Hide my name on leaderboard</ion-label>
      <ion-label *ngIf="hideMe" text-wrap>Show my name on leaderboard</ion-label> -->
      <ion-label text-wrap>Name on leaderboard</ion-label>
      <ion-label class="opt-label" [ngClass]="{'bold':(!hideMe)}">Visible</ion-label>
      <ion-toggle color="primary" [(ngModel)]="hideMe" (ionChange)="changePrivate()"></ion-toggle>
    </ion-item>
    <button data-content-piece ion-item (click)="goToTutorial()">
      <ion-icon name="medkit" item-left></ion-icon> {{ 'SETTINGS.TUTORIAL' | translate }}
    </button>
    <button data-content-piece ion-item (click)="goToTermConditions()">
      <ion-icon name="clipboard" item-left></ion-icon> {{ 'SETTINGS.TERMS' | translate }}
    </button>
    <a target="_blank" href="./assets/files/handbook2017.pdf" download class="handbook-download">
      <button data-content-piece ion-item>
        <ion-icon name="download" item-left></ion-icon> {{ 'SETTINGS.HANDBOOK' | translate }}
      </button>
    </a>
    <!-- <button ion-item (click)="goLeaderBoardSettings()">
      <ion-icon name="swap" item-left></ion-icon> {{ 'SETTINGS.LEADERBOARD' | translate }}
    </button> -->
  </ion-list>
  <ion-list no-lines>
    <ion-list-header>
      {{ 'SETTINGS.SUPPORT' | translate }}
    </ion-list-header>
    <a ion-item href="mailto:{{helpline}}?Subject=Tech%20Support%20Request" target="_blank">
      <ion-icon name="mail" item-left></ion-icon> {{ 'SETTINGS.HELP' | translate }}
    </a>
    <button ion-item (click)="logout()">
      <ion-icon name="exit" item-left></ion-icon> {{ 'SETTINGS.LOGOUT' | translate }}
    </button>
  </ion-list>
</ion-content>
