
// 1.1 General Color Variables
$events-download-btn: 1px $border-primary solid;
// 1.2 General Font Variables
@font-face {
  font-family: 'Museo-300';
  src: url('/assets/fonts/Museo-300.woff') format('woff');
}
@font-face {
  font-family: 'Museo-500';
  src: url('/assets/fonts/Museo-500.woff') format('woff');
}
@font-face {
  font-family: 'Museo-700';
  src: url('/assets/fonts/Museo-700.woff') format('woff');
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600italic);

// $font-primary: 'Roboto';
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
// $font-secondary: 'Raleway';
$font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;
// new font
@import url('https://fonts.googleapis.com/css?family=Arvo|Cabin|Zilla+Slab+Highlight');
$title-font: 'Arvo';

// Custom icon font for spinner
.ion-ios-lucky-wheel,
.ion-md-lucky-wheel {
  content: url('/assets/fonts/lucky-wheel.svg');
  height: 30px;
  color: #2e5c93;
  border-color: #000054;
}

.ion-ios-lucky-wheel-outline,
.ion-md-lucky-wheel-outline {
  content: url('/assets/fonts/lucky-wheel.svg');
  height: 30px;
  color: #2e5c93;
  border-color: #000054;
  opacity: 0.9;
}

// 3. General Tab Styling
.tab-color {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
}
.flex-display {
  display: flex;
}
// 4. General Text styling
.app-title {
  font-family: $font-primary;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}
.card-title {
  font-family: $font-primary;
  font-size: 32px;
}
.general-text {
  font-family: $font-primary;
  font-size: 1.3rem;
}
.line-break {
  word-break: break-word;
}
.font-20pt {
  font-size: 20pt !important;
}
.font-22pt {
  font-size: 22pt !important;
}
// 5. General Button Styling
.primary-button {
  background-color: color($colors, primary-button, base);
  color: color($colors, text, contrast) !important;
}
.general-button {
  background-color: color($colors, button, base);
}
.back-button-text {
  padding-left: 4px;
}
.close {
  font-size: 2.7rem;
  float: right;
  background-color: transparent;
  color: color($colors, text, contrast);
  display: inline-block;
}
// 6. General Pages Styling
// 6.1 Default Theme Settings Start
.hide-tabbar {
  opacity: 0;
}
.toolbar.toolbar-md,
.toolbar.toolbar-ios {
  min-height: 50px;
  .grid,
  .col {
    padding: 0px;
  }
}
.tab-button-icon.icon,
.button-outline-ios,
.button-outline-md,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tab-button-text,
.segment-ios .segment-button,
.segment-md .segment-button {
  color: color($colors, button, base);
  border-color: color($colors, primary, base);
}
.tab-button[aria-selected=true] {
  color: color($colors, secondary, base);
  border-top: thick double color($colors, button, base);
}
.segment-ios .segment-button.segment-activated,
.segment-md .segment-button.segment-activated {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
  border-color: color($colors, primary, base);
}
.checkbox-md .checkbox-checked,
.checkbox-ios .checkbox-checked {
  border-color: color($colors, primary, base);
  background-color: color($colors, primary, base);
}
.loading-md .spinner-crescent circle,
.loading-ios .spinner-crescent circle {
  stroke: color($colors, primary, base);
}
// 6.2 Default Theme Settings End
.header {
  .toolbar-background-md,
  .toolbar-background-ios {
    background-color: color($colors, white, base);
  }
  .bar-button-default-md,
  .bar-button-default-ios,
  .toolbar-title-md,
  .toolbar-title-ios {
    color: color($colors, primary, base);
  }
  .toolbar-title-md,
  .toolbar-title-ios {
    font-size: 1.7rem;
  }
  // 6.3 text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline :focus {
    outline: none !important;
  }
}
