@import './pages/events';
// Font-awesome
@import "font-awesome";
// Default Theme: Practera Theme
@import './theme/variables';
// 1. General Variables
// 1.1 General Color Variables
$events-download-btn: 1px $border-primary solid;
// 1.2 General Font Variables
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600italic);
$font-primary: 'Roboto';
$font-secondary: 'Raleway';
// new font
@import url('https://fonts.googleapis.com/css?family=Arvo|Cabin|Zilla+Slab+Highlight');
$title-font: 'Arvo';
// 3. General Tab Styling
.tab-color {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
}
.flex-display {
  display: flex;
}
// 4. General Text styling
.app-title {
  font-family: $font-primary;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}
.card-title {
  font-family: $font-primary;
  font-size: 32px;
}
.general-text {
  font-family: $font-primary;
  font-size: 1.3rem;
}
.line-break {
  word-break: break-word;
}
// 5. General Button Styling
.general-button {
  background-color: color($colors, button, base);
}
.back-button-text {
  padding-left: 4px;
}
.close {
  font-size: 2.7rem;
  float: right;
  background-color: transparent;
  color: color($colors, secondary, base);
  display: inline-block;
}
// 6. General Pages Styling
// 6.1 Default Theme Settings Start
.toolbar.toolbar-md,
.toolbar.toolbar-ios {
  min-height: 50px;
  .grid,
  .col {
    padding: 0px;
  }
}
.tab-button-icon.icon,
.button-outline-ios,
.button-outline-md,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tab-button-text,
.segment-ios .segment-button,
.segment-md .segment-button {
  color: color($colors, button, base);
  border-color: color($colors, primary, base);
}
.tab-button[aria-selected=true] {
  color: color($colors, secondary, base);
  border-top: thick double color($colors, button, base);
}
.segment-ios .segment-button.segment-activated,
.segment-md .segment-button.segment-activated {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
  border-color: color($colors, primary, base);
}
.checkbox-md .checkbox-checked,
.checkbox-ios .checkbox-checked {
  border-color: color($colors, primary, base);
  background-color: color($colors, primary, base);
}
.loading-md .spinner-crescent circle,
.loading-ios .spinner-crescent circle {
  stroke: color($colors, primary, base);
}
// 6.2 Default Theme Settings End
.header {
  .toolbar-background-md,
  .toolbar-background-ios {
    background-color: color($colors, white, base);
  }
  .bar-button-default-md,
  .bar-button-default-ios,
  .toolbar-title-md,
  .toolbar-title-ios {
    color: color($colors, secondary, base);
  }
  .toolbar-title-md,
  .toolbar-title-ios {
    font-size: 1.7rem;
  }
  // 6.3 text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline :focus {
    outline: none !important;
  }
}
// 7. General Login/Registration/ResetPassword/MagicLink Page Styling
// 7.1 login module general styling (shared module: part 1)
.default-center-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: color($colors, background, base);
  ion-row {
    width: 100%;
    text-align: center;
    .default-logo {
      width: 128pt;
      height: 128pt;
    }
    h3 {
      color: color($colors, button, base);
      z-index: 3;
      font-size: 24pt;
      padding-bottom: 12pt;
    }
  }
  .main-logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .login-welcome-text {
    display: block;
    margin: 0 auto;
  }
  img.left-image {
    width: 50%;
    margin: 0 auto;
    display: block;
    position: fixed;
    top: 0px;
    left: 25%;
    z-index: -1;
  }
  img.right-image {
    width: 50%;
    margin: 0 auto;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 25%;
    z-index: -1;
  }
}
.login-module {
  font-family: $font-secondary;
  background-color: color($colors, background, contrast) !important;
  background-repeat: no-repeat;
  .scroll-content {
    overflow-y: hidden;
  }
  ion-grid {
    background-image: url(../assets/img/main/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .login-btn {
      width: 100%;
      ion-icon {
        padding-left: 5pt;
      }
    }
  }
  ion-row {
    padding: 0px;
    margin: 0px;
  }
  .main-login-text {
    h3 {
      position: relative;
      margin: 0 auto;
      top: -12pt;
      color: color($colors, text, base);
      font-size: 24pt;
      text-align: left;
      // padding-bottom: 40pt;
      span {
        display: block;
        font-family: $title-font;
      }
    }
    .login-welcome-text {
      margin: 0 auto;
      color: color($colors, text, base);
      // text-align: left;
    }
  }
  .general-circle-btn {
    @include circle-btn;
  }
  .close-btn {
    @include closeBtn;
  }
  // general logo
  .general-logo {
    max-width: 80%;
  }
  // general form
  .general-form {
    width: 100%;
    ion-item {
      padding: 0px;
      .item-inner {
        border-bottom: 1px solid color($colors, border, base) !important;
      }
    }
    .general-circle-btn {
      background: none;
      padding-top: 20pt;
    }
  }
}
// 7.2 login form box styling (shared module: part 2)
.login-container {
  @include placeholderColor;
  background-color: color($colors, secondary, base);
  height: 100%;
  .scroll-content {
    overflow-y: hidden;
  }
  height: 100%;
  .login-form {
    margin: 0 15pt;
    @include placeholderColor;
    button,
    .general-circle-btn {
      @include circle-btn;
    }
    .error-hint {
      text-align: center;
      padding-top: 5pt;
    }
  }
  .forget-password-container {
    text-align: center;
    border: none;
    button {
      // color: color($colors, button, base); // default-theme
      color: color($colors, text, base);
      margin-top: 24pt;
      font-size: 11pt;
      background-color: transparent;
    }
  }
  ion-item {
    border-bottom: 1px solid $border-primary !important;
    color: color($colors, dark, base);
  }
  .item-md,
  .item-ios {
    padding: 0px;
    background-color: transparent;
  }
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  ion-label[fixed] {
    -webkit-flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    min-width: 80px;
  }
  // text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline:focus {
    outline: none !important;
  }
}
// 7.3 login warn message display styling (shared module: part 3)
.mode-warn {
  width: 100%;
  height: 100%;
  .mode-warn-sms {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mode-text-container {
      text-align: center;
      font-size: 20pt;
      padding: 0 10%;
    }
    .mode-img-center {
      display: block;
      text-align: center;
    }
  }
}
// 8. General Event Page Styling
.events {
  .list:first-child {
    margin-bottom: 0;
  }
  .title-background {
    height: 10em;
    background-size: cover;
    background-position: center;
    text-align: center;
    .title {
      text-shadow: 0 0 1px $border-primary;
      color: color($colors, secondary, base);
      font-size: 3.5rem;
      white-space: normal;
    }
    .status {
      position: relative;
    }
    .tag {
      position: fixed;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 1.3rem;
      margin-top: 1rem;
      padding: 0.4rem;
      right: 0;
      top: 0;
      background-color: color($colors, primary, base); // default-theme
      color: color($colors, secondary, base);
    }
  }
  .details {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 0.1rem;
    .info {
      > p {
        margin: 0.5em;
      }
    }
  }
  .download {
    border-top: $events-download-btn;
    border-bottom: $events-download-btn;
  }
  .book-btn {
    @include bookBtn;
  }
  .cancel-btn {
    @include cancelBtn;
  }
  .cancel-btn:hover,
  .cancel-btn:focus,
  .cancel-btn:active {
    background-color: color($colors, secondary, base); // default-theme
    color: color($colors, button, base); // default-theme
    border-color: color($colors, button, base); // default-theme
  }
  .checkin-btn {
    @include checkinBtn;
  }
  .lighter {
    opacity: 0.7;
  }
}
// alertbox message
.earn-points-box {
  text-align: center;
}
// single event card styling
ion-card.rounded {
  border-radius: 4px;
}
event {
  ion-card-content.with-cover {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    .event-booked-tag {
      background-color: color($colors, primary, base); // default-theme
      color: color($colors, secondary, base);
      padding: 5px 10px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      position: absolute;
      right: 0;
      margin-top: -30px;
      margin-right: 12px;
    }
  }
  .event-status {
    position:relative;
  }
  .event-tag {
    position: absolute;
    padding: 5.1px;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
    right: 0;
  }
  .event-booked-tag,
  .event-attended-tag {
    background-color: color($colors, primary, base); // default-theme
    color: color($colors, secondary, base);
  }
  .event-title {
    padding: 13px 16px 14px 16px;
    font-size: 32px;
    line-height: 40px;
    color: white;
    font-family: $font-primary; // default-theme
  }
  .event-details {
    padding: 8px 15px;
    font-family: $font-primary; // default-theme
    font-size: 14px;
    line-height: 20px;
  }
}
// 9. General Dashboard Page Styling
.whats-this {
  ion-list-header {
    ion-label {
      display: flex;
      align-items: center;
    }
    p {
      display: inline-block;
    }
  }
  p {
    padding: 0 10%;
  }
}
.activities {
  .scroll-content {
    overflow: hidden;
  }
  .scroll-content,
  .grid,
  .col {
    padding: 0px !important;
    margin: 0px;
  }
  .grid {
    height: 100%;
    .row {
      height: 50%;
    }
  }
  ion-row.score-board.row {
    display: flex;
    align-items: center;
  }
  .score-board {
    background-color: color($colors, secondary) !important; // default-theme
    background-size: cover;
    text-align: center;
    .score-board-inner {
      height: 100%;
    }
    ion-row:last-child {
      background-color: color($colors, secondary);
    }
    ion-col {
      .score-inner-box {
        width: 40%;
        height: 40%;
        margin: 5% auto;
        background-color: color($colors, secondary);
        div {
          height: 100%;
          padding: 10% 0;
          h4 {
            font-size: 16pt;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0px;
            height: 40%;
          }
          h1 {
            margin: 0px;
            height: 40%;
            font-size: 28pt;
            font-weight: bold;

          }
        }
      }
      .dashboard-logo {
        max-width: 80%;
      }
      .dashboard-data {
        max-width: 90%;
        display: flex;
        list-style: none;
        color: color($colors, text, base);
        margin: 0 auto;
        padding: 0px;
        li {
          background-color: color($colors, background, contrast);
          border: 1px solid color($colors, border, base);
          p {
            margin: 0px;
          }
          p.title {
            text-transform: uppercase;
            color: color($colors, text, base);
          }
          p.number {
            font-size: 22pt;
            font-weight: 600;
            padding: 5pt 0;
            color: color($colors, palette-five, contrast);
          }
          p.link {
            color: color($colors, text, base);
          }
        }
        li:nth-child(1) {
          border-top-left-radius: 5pt;
          border-bottom-left-radius: 5pt;
        }
        li:nth-child(2) {
          border-left: none;
          border-right: none;
        }
        li:nth-child(3) {
          border-top-right-radius: 5pt;
          border-bottom-right-radius: 5pt;
        }
      }
    }
    ion-col:first-child {
      div {
        margin-bottom: 0pt;
      }
    }
  }
  .activity-list {
    .assessment-score {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        padding: 6px 14px;
        border-radius: 20px;
      }
    }
    .icon-color-default {
      // color: color($colors, dark, contrast) !important;
      color: color($colors, dark, contrast);
    }
    .icon-color-0 {
      color: color($colors, button, contrast) !important;
    }
    .icon-color-1 {
      color: color($colors, palette-three, base) !important;
    }
    .icon-color-2 {
      color: color($colors, palette-one, contrast) !important;
    }
    .icon-color-3 {
      color: color($colors, palette-one, base) !important;
    }
    .icon-color-4 {
      color: color($colors, palette-four, contrast) !important;
    }
    .icon-color-5 {
      color: color($colors, palette-four, base) !important;
    }
    // just demo start
    .first-checkbox-demo {
      color: color($colors, button, contrast);
    }
    .line-break {
      display: flex;
      .ticks {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i {
          font-size: 10pt;
        }
      }
    }
    // demo code end
    ion-col {
      overflow: scroll;
    }
    .unlocked,
    .locked {
      border-bottom: 1px solid color($colors, border, contrast);
      p {
        padding: 12px 0px 12px 5px;
        margin: 0px;
        min-height: 40px;
        line-height: 20px;
        max-width: 320px;
      }
    }
    .locked {
      background-color: color($colors, border, base);
      background-size: cover;
      p {
        opacity: 0.4;
      }
      .fa.fa-lock {
        position: absolute;
        right: 12px;
        line-height: 44px;
        font-size: 14pt;
      }
    }
    .activity-error {
      padding: 0 12pt;
    }
  }
}
// achievement page styling
.ahievements-popup {
  .scroll-content {
    overflow: hidden !important;
  }
  .popup-contents {
    .badge-image {
      margin: 10% auto;
      display: block;
      width: 30%;
      height: 30%;
    }
    .badge-points {
      border-top: 1px solid color($colors, border, base);
      border-bottom: 1px solid color($colors, border, base);
      line-height: 40px;
      span:last-child {
        float: right;
      }
    }
  }
}
//
@media screen and (max-width: 321px) {
  // general login registration and reset password
  img.left-image {
    max-width: 15% !important;
    left: 42.5% !important;
    top: 0px;
  }
  img.right-image {
    max-width: 15% !important;
    left: 42.5% !important;
    bottom: 0px;
  }
}
// landscape activity list view
@media screen and (min-width: 500px) {
  // general login registration and reset password
  img.left-image {
    max-width: 25% !important;
    left: 37.5% !important;
    top: 0px;
  }
  img.right-image {
    max-width: 25% !important;
    left: 37.5% !important;
    bottom: 0px;
  }
  .main-logo {
    max-width: 55% !important;
    margin: 0 auto;
    display: block;
  }
  .general-form {
    padding: 0 15%;
  }
  p.login-welcome-text {
    padding: 0 10%;
  }
  // general dashboard 
  .score-board {
    display: inline-block;
    .col {
      .score-inner-box {
        display: inline-block;
        height: 80% !important;
        padding: 0 !important;
        margin: 2% !important;
        div {
          display: inline-block;
          padding: 0 !important;
        }
      }
    }
  }
}
