@import './pages/events';
// Font-awesome
@import "font-awesome";
// Default Theme: Practera Theme
@import './theme/variables';
// 1. General Variables
// 1.1 General Color Variables
$events-download-btn: 1px $border-primary solid;
// 1.2 General Font Variables
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,600italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600italic);
// @TODO Do we still need Roboto?
// $font-primary: 'Roboto';
$font-primary: Arial, "Helvetica Neue", Helvetica, sans-serif;
// $font-secondary: 'Raleway';
$font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;

// 3. General Tab Styling
.tab-color {
  background-color: color($colors, primary, base);
  color: color($colors, secondary, base);
}
.flex-display {
  display: flex;
}
// 4. General Text styling
.app-title {
  font-family: $font-primary;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}
.card-title {
  font-family: $font-primary;
  font-size: 32px;
}
.general-text {
  font-family: $font-primary;
  font-size: 1.3rem;
}
.error-message {
  padding: 6px;
}
.line-break {
  word-break: break-word;
}
// 5. General Button Styling
.general-button {
  background-color: color($colors, button, base);
}
.close {
  font-size: 2.7rem;
  float: right;
  background-color: transparent;
  color: color($colors, text, contrast);
  display: inline-block;
}
// 6. General Pages Styling
// 6.1 Default Theme Settings Start
.toolbar.toolbar-md,
.toolbar.toolbar-ios {
  min-height: 50px;
  .grid,
  .col {
    padding: 0px;
  }
}
.tab-button-icon.icon,
.button-outline-ios,
.button-outline-md,
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tab-button-text,
.segment-ios .segment-button,
.segment-md .segment-button {
  color: color($colors, button, base);
  border-color: color($colors, primary, base);
}
.tab-button[aria-selected=true] {
  color: color($colors, secondary, base);
  border-top: thick double color($colors, button, base);
}
.segment-ios .segment-button,
.segment-md .segment-button {
  background-color: color($colors, white, base);
  color: color($colors, primary, base);
  border-color: color($colors, primary, base);
}
.segment-ios .segment-button.segment-activated,
.segment-md .segment-button.segment-activated {
  background-color: color($colors, primary, base);
  color: color($colors, white, base);
  border-color: color($colors, primary, base);
}
.checkbox-md .checkbox-checked,
.checkbox-ios .checkbox-checked {
  border-color: color($colors, primary, base);
  background-color: color($colors, primary, base);
}
.loading-md .spinner-crescent circle,
.loading-ios .spinner-crescent circle {
  stroke: color($colors, primary, base);
}
// 6.2 Default Theme Settings End
.header {
  .toolbar-background-md,
  .toolbar-background-ios {
    background-color: color($colors, white, base);
  }
  .bar-button-default-md,
  .bar-button-default-ios,
  .toolbar-title-md,
  .toolbar-title-ios {
    color: color($colors, primary, base);
  }
  .toolbar-title-md,
  .toolbar-title-ios {
    font-size: 1.7rem;
  }
  // 6.3 text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline :focus {
    outline: none !important;
  }
}
// 7. General Login/Registration/ResetPassword/MagicLink Page Styling
// 7.1 login module general styling (shared module: part 1)
.default-center-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-row {
    width: 100%;
    text-align: center;
    .default-logo {
      width: 128pt;
      height: 128pt;
    }
    h3 {
      color: color($colors, button, base);
      z-index: 3;
      font-size: 22pt;
      padding-bottom: 12pt;
    }
  }
}
.login-module {
  font-family: $font-secondary;
  background-color: color($colors, secondary, base);
  background-repeat: no-repeat;
  .scroll-content {
    overflow-y: hidden;
  }
  ion-grid {
    .login-btn {
      width: 100%;
      ion-icon {
        padding-left: 5pt;
      }
    }
  }
  .general-circle-btn {
    @include circle-btn;
  }
  .close-btn {
    @include closeBtn;
  }
  // general logo
  .general-logo {
    max-width: 80%;
  }
  // general form
  .general-form {
    width: 100%;
    ion-item {
      padding: 0px;
      .item-inner {
        border-bottom: 1px solid color($colors, border, base) !important;
      }
    }
    .general-circle-btn {
      background: none;
      padding-top: 20pt;
    }
  }
}
// 7.2 login form box styling (shared module: part 2)
.login-container {
  @include placeholderColor;
  background-color: color($colors, secondary, base);
  height: 100%;
  .scroll-content {
    overflow-y: hidden;
  }
  height: 100%;
  .login-form {
    margin: 0 15pt;
    @include placeholderColor;
    button,
    .general-circle-btn {
      @include circle-btn;
    }
    .error-hint {
      text-align: center;
      padding-top: 5pt;
    }
  }
  .forget-password-container {
    text-align: center;
    border: none;
    button {
      color: color($colors, button, base); // default-theme
      margin-top: 24pt;
      font-size: 11pt;
      background-color: transparent;
    }
  }
  ion-item {
    border-bottom: 1px solid $border-primary !important;
    color: color($colors, dark, base);
  }
  .item-md,
  .item-ios {
    padding: 0px;
    background-color: transparent;
  }
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  ion-label[fixed] {
    -webkit-flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    width: 80px;
    min-width: 80px;
  }
  // text input without outline
  .text-input-ios,
  .text-input-md,
  .focus-outline:focus {
    outline: none !important;
  }
}
// 7.3 login warn message display styling (shared module: part 3)
.mode-warn {
  width: 100%;
  height: 100%;
  .mode-warn-sms {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .mode-text-container {
      text-align: center;
      font-size: 20pt;
      padding: 0 10%;
    }
    .mode-img-center {
      display: block;
      text-align: center;
    }
  }
}
// 8. General Event Page Styling
.events {
  // background-color: color($colors, secondary, base);

  .list:first-child {
    margin-bottom: 0;
  }
  .title-background {
    height: 10em;
    background-size: cover;
    background-position: center;
    text-align: center;
    .title {
      text-shadow: 0 0 1px $border-primary;
      color: color($colors, secondary, base);
      font-size: 3.5rem;
      white-space: normal;
    }
    .status {
      position: relative;
    }
    .tag {
      position: fixed;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 1.3rem;
      margin-top: 1rem;
      padding: 0.4rem;
      right: 0;
      top: 0;
      background-color: color($colors, primary, base); // default-theme
      color: color($colors, secondary, base);
    }
  }
  .details {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 0.1rem;
    .info {
      > p {
        margin: 0.5em;
      }
    }
  }
  .download {
    border-top: $events-download-btn;
    border-bottom: $events-download-btn;
  }
  .book-btn {
    @include bookBtn;
  }
  .cancel-btn {
    @include cancelBtn;
    border-color: color($colors, secondary, base);
  }
  .cancel-btn:hover,
  .cancel-btn:focus,
  .cancel-btn:active {
    background-color: color($colors, secondary, base); // default-theme
    color: color($colors, button, base); // default-theme
    border-color: color($colors, button, base); // default-theme
  }
  .checkin-btn {
    @include checkinBtn;
  }
  .lighter {
    opacity: 0.7;
  }
}
// alertbox message
.earn-points-box {
  text-align: center;
}
// single event card styling
ion-card.rounded {
  border-radius: 4px;
}
event {
  ion-card-content.with-cover {
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
    .event-booked-tag {
      background-color: color($colors, primary, base); // default-theme
      color: color($colors, secondary, base);
      padding: 5px 10px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      position: absolute;
      right: 0;
      margin-top: -30px;
      margin-right: 12px;
    }
  }
  .event-status {
    position:relative;
  }
  .event-tag {
    position: absolute;
    padding: 5.1px;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
    right: 0;
  }
  .event-booked-tag,
  .event-attended-tag {
    background-color: color($colors, primary, base); // default-theme
    color: color($colors, secondary, base);
  }
  .event-title {
    padding: 13px 16px 14px 16px;
    font-size: 32px;
    line-height: 40px;
    color: white;
    font-family: $font-primary; // default-theme
  }
  .event-details {
    padding: 8px 8px;
    font-family: $font-primary; // default-theme
    font-size: 14px;
    line-height: 20px;
  }
  .event-logo {
    padding: 8px 8px;
  }
}
// 9. General Dashboard Page Styling
.activities {
  .scroll-content {
    overflow: hidden;
  }
  .scroll-content,
  .grid,
  .col {
    padding: 0px !important;
    margin: 0px;
  }
  .grid {
    height: 100%;
    .row {
      height: 50%;
    }
  }
  .score-board {
    display: block;
    // background-color: color($colors, primary, base); // default-theme
    background-color: #52d2f6;
    background-size: cover;
    text-align: center;
    .score-board-inner {
      height: 100%;
    }
    .tittle-logo {
      color: #fff;
      font-size: 50px;
      font-weight: bolder;
      text-align: left;
      margin-left: 25%;
      font-family: 'Museo-500';
    }
    ion-row:last-child {
      background-color: color($colors, secondary, base);
    }
    ion-col {
      .score-inner-box {
        width: 40%;
        height: 40%;
        margin: 5% auto;
        background-color: color($colors, secondary, base);
        div {
          height: 100%;
          padding: 10% 0;
          h4 {
            font-size: 16pt;
            font-weight: 400;
            text-transform: uppercase;
            margin: 0px;
            height: 40%;
          }
          h1 {
            margin: 0px;
            height: 40%;
            font-size: 28pt;
            font-weight: bold;

          }
        }
      }
    }
    ion-col:first-child {
      div {
        margin-bottom: 0pt;
      }
    }
  }
  .activity-list {
    ion-col {
      overflow: scroll;
    }
    .unlocked,
    .locked {
      border-bottom: 1px solid color($colors, border, contrast);
      p {
        padding: 12px 0px 12px 5px;
        margin: 0px;
        min-height: 40px;
        line-height: 20px;
        max-width: 320px;
      }
    }
    .locked {
      background-color: color($colors, border, base);
      background-size: cover;
      p {
        opacity: 0.4;
      }
      .fa.fa-lock {
        position: absolute;
        right: 12px;
        line-height: 44px;
        font-size: 14pt;
      }
    }
    .activity-error {
      padding: 0 12pt;
    }
  }
}
// 10. Achievement page styling
.ahievements-popup {
  .scroll-content {
    overflow: hidden !important;
  }
  .popup-contents {
    .badge-image {
      margin: 10% auto;
      display: block;
      width: 30%;
      height: 30%;
    }
    .badge-points {
      border-top: 1px solid color($colors, border, base);
      border-bottom: 1px solid color($colors, border, base);
      line-height: 40px;
      span:last-child {
        float: right;
      }
    }
  }
}
.assessments-items-popup {
  display: flex;
  align-items: center;
  padding-left: 12pt;
  .item-popup-img {
    width: 20pt;
    height: 20pt;
  }
  .item-popup-text {
    padding-left: 4pt;
  }
}
// 13. Rankings Page Styling
.rankings {
  ion-list:first-child {
    margin-bottom: 5px;
  }
  ion-list {
    margin: 0px;
  }
  ion-col {
    padding: 0px;
  }
  .ranking-list {
    .user-score {
      text-align: right;
      b {
        font-weight: normal;
        width: 100%;
        text-align: right;
      }
    }
  }
  .my-ranking {
    width: 100%;
    background: color($colors, secondary, base);
    .ranking-item {
      p {
        border: none;
        b {
          font-weight: normal;
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  ion-list ion-label {
    margin: 0px;
  }
  .ranking-item {
    width: 100%;
    display: flex;
    .blur-hidden-text {
      color: transparent;
      text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 6px;
    }
    ion-icon {
      font-size: 10pt;
      font-weight: 900;
    }
    ion-icon[name=arrow-forward] {
      font-weight: normal;
      font-size: 18pt;
      padding-left: 8pt;
      color: #bbb;
    }
    .badge-image {
      width: 60px;
      height: 60px;
    }
    p {
      display: flex;
      align-items: center;
      word-break: break-all;
      margin: 0px;
      padding: 15px 0pt;
      border-bottom: 1px solid color($colors, border, base);
    }
    p:first-child{
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
// ranking details page stylings
rankings-details-page {
  padding: 0 6pt;
  .ranking-details {
    .scroll-content {
      bottom: 0px !important;
    }
  }
  .ranking-item {
    p {
      border: none !important;
    }
  }
  .ranking-detail-item {
    padding: 2pt 0;
    border-bottom: 1px solid color($colors, border, base);
  }
  .points-display {
    padding: 2pt 0;
    display: flex;
    border-bottom: 1px solid color($colors, border, base);
  }
}
// 14.leaderboard settings page styling
.leaderboard-settings {
  .hide-settings {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
}
// 15. items popup general styling
.items-popup {
  .scroll-content {
    overflow-y: hidden;
  }
  .items-popup-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .tutorial-slides p {
      margin-top: 12pt;
    }
    .tutorial-slides img {
      width: 50%;
    }
    .tutorial-slides .swiper-pagination {
      bottom: 0px;
    }
    .general-circle-btn {
      width: 100%;
      margin-top: 12pt;
      padding: 12pt;
      background-color: color($colors, primary, base);
      color: color($colors, secondary, base);
    }
  }
}
// 11. Settings & Tutorial page stylings
.settings {
  .list-header-md {
    border: none;
  }
}
tutorial-page {
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
}
.tutorial-slides {
  h1 {
    padding-bottom: 20pt;
  }
  p {
    padding: 0 36pt;
    margin-top: -12pt;
  }
  img {
    width: 36%;
  }
  button.general-circle-btn {
    width: 80%;
    margin: 0 auto;
  }
  .swiper-pagination {
    bottom: 16pt;
  }
}
.skip-button {
  border: none;
  float: right;
}
.slides-button {
  .toolbar-background {
    background-color: color($colors, secondary, base);
    border: none;
  }
  .next-button,
  .skip-button {
    float: right;
  }
  .prev-button,
  .next-button,
  .skip-button {
    background-color: color($colors, secondary, base) !important;
    color: color($colors, primary, base);
    box-shadow: none;
  }
}
// 14.leaderboard settings page styling
.leaderboard-settings {
  .hide-settings {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
}
// landscape activity list view
@media screen and (min-width: 500px) {
  .score-board {
    display: inline-block;
    .col {
      .score-inner-box {
        display: inline-block;
        height: 80% !important;
        padding: 0 !important;
        margin: 2% !important;
        div {
          display: inline-block;
          padding: 0 !important;
        }
      }
    }
  }
}
