/**
 * @description
 *  - landscape view, apply to activity list
 */
@media screen and (min-width: 500px) {
  .score-board {
    display: inline-block;
    .col {
      .score-inner-box {
        display: inline-block;
        height: 80% !important;
        padding: 0 !important;
        margin: 2% !important;
        div {
          display: inline-block;
          padding: 0 !important;
        }
      }
    }
  }
}
