// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// General Colors (Shared File)
// logo colours
$teal: #00b5ac;

// main colors
$primary: #000054; // BLUE
$secondary: #EBEBEB; // GRAY

// Buttons/tabs
$primary-button: #3A74BA;
$primary-text: #000054;

$secondary-text: #000000;
$dashboard-bg: #c9e9e6;
$primary-bg: #EBEBEB;
$secondary-bg: #ffffff;
$border-primary: #dddddd;
$border-secondary: #cccccc;
$primary-dark: #AFAFAF;
$secondary-palette-one: #FFCB05;
$secondary-palette-two: #8CC747;
$secondary-palette-three: #C9E9E6;
$secondary-palette-four: #D4EEFC;
$secondary-palette-five: #3A74BA;
$secondary-palette-six: #fc9147;
$secondary-palette-seven: #43c7f4;
$secondary-palette-eight: $teal;
$secondary-palette-nine: #E60028;



// App Mixin Functions
@import './theme/mixins';

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: $primary,
  secondary: $secondary,
  white: #FFF,
  black: #000,
  button: (
    base: darken($primary-button, 10%),
    contrast: lighten($primary-button, 10%)
  ),
  primary-button: (
    base: $secondary-palette-one,
    contrast: lighten($secondary-palette-one, 10%)
  ),
  badge-text: #FFF,
  badge-bg: (
    base: lighten($secondary-palette-nine, 10%),
    contrast: darken($secondary-palette-nine, 10%)
  ),
  primary-light: (
     base: lighten($primary, 10%),   // make 10% lighter than primary
     contrast: darken($secondary, 10%) // darken for contrast?
  ),
  primary-dark:  (
     base: darken($primary, 10%), // make 10% darker than primary
     contrast: lighten($secondary, 10%) // lighten for contrast?
  ),
  light: (
     base: $secondary-palette-three,
     contrast: $secondary-palette-four
  ),
  text: (
     base: $primary-text,
     contrast: $secondary-text
  ),
  border: (
    base: $border-primary,
    contrast: $border-secondary
  ),
  dark: ( // main secondary palette colors
    base: $secondary-palette-one,
    contrast: $primary-dark
  ),
  background: (
    base: $primary-bg,
    contrast: $secondary-bg
  ),
  palette-one: (
    base: $secondary-palette-one,
    contrast: $secondary-palette-two
  ),
  palette-two: (
    base: $secondary-palette-three,
    contrast: $secondary-palette-four
  ),
  palette-three: (
    base: $secondary-palette-five,
    contrast: $secondary-palette-six
  ),
  palette-four: (
    base: $secondary-palette-seven,
    contrast: $secondary-palette-six
  ),
  palette-five: (
    base: $secondary-palette-eight,
    contrast: $secondary-bg
  ),
  dahsboard-bg: (
    base: $dashboard-bg,
    contrast: $primary-bg
  )
);

// Small arrow color for list
$item-md-detail-push-color: color($colors, primary, base);
$item-wp-detail-push-color: color($colors, primary, base);
$item-ios-detail-push-color: color($colors, primary, base);

// Badge style
$badge-ios-background-color: color($colors, badge-bg, base);
$badge-ios-text-color: color($colors, badge-text, base);
$badge-md-background-color: color($colors, badge-bg, base);
$badge-md-text-color: color($colors, badge-text, base);
$badge-wp-background-color: color($colors, badge-bg, base);
$badge-wp-text-color: color($colors, badge-text, base);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
