/**
 * @page pages/login/login.html
 * @page pages/registration/register.html
 * @page pages/reset-password/reset-password.html
 */
.default-center-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-row {
    width: 100%;
    text-align: center;
    .default-logo {
      width: 120pt;
      height: 120pt;
    }
    h3 {
      color: color($colors, practera-thick);
      z-index: 3;
      font-size: 20pt;
    }
  }
}
