<ion-card class="rounded">
  <div *ngIf="isBookedEvent(event)" class="event-status">
    <div class="event-tag event-booked-tag">Booked</div>
  </div>
  <div *ngIf="isAttendedEvent(event)" class="event-status">
    <div class="event-tag event-attended-tag">Attended</div>
  </div>
  <ion-card-content class="with-cover" [style.background-image]="'url(' + event.coverUrl + ')'">
    <div class="event-title">
      {{ event.title }}
    </div>
  </ion-card-content>
  <ion-row>
    <ion-col col-6 class="event-details">
      <div>{{ event.startDisplayDate }}</div>
      <div>{{ event.startDisplayTime ? 'at ' + event.startDisplayTime : '' }}</div>
      <div style="color:silver">{{ event.activity.name }}</div>
    </ion-col>
    <ion-col col-6 class="event-logo">
      <img *ngIf="event.isOriginal" src="assets/img/static/pe-logo-name.png" />
      <img *ngIf="!event.isOriginal" src="assets/img/static/pe-logo-recommended.png" />
    </ion-col>
  </ion-row>
</ion-card>
