<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ACTIVITY.PAGETITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="activities" scroll="false">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>
  <ion-grid>
    <ion-row class="score-board">
      <div class="score-board-inner">
        <ion-col>
          <div class="score-inner-box">
            <div>
              <h4>{{ 'ACTIVITY.PROGRESS' | translate }}</h4>
              <h1>{{ pointPercentage }}%</h1>  
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="score-inner-box">
            <div>
              <h4>{{ 'ACTIVITY.POINTS' | translate }}</h4>
              <h1>{{ currentPoints }}</h1>
            </div>
          </div>
        </ion-col>
      </div>
    </ion-row>
    <ion-row class="activity-list">
      <ion-col>
        <!--<button (click)="shiftLanguageTrial()">Shift Language</button>-->
        <div class="activity-error" *ngIf="returnError == true">
          <p>
            {{ activitiesLoadingErr }}
          </p>
        </div>
        <div *ngFor="let activity of activities">
          <div *ngIf="activity.Activity.is_locked == false" class="unlocked">
            <p (click)="goToDetail(activity, activity.Activity.id)" class="line-break">
              {{ activity.Activity.name }}
            </p>
          </div>
          <div *ngIf="activity.Activity.is_locked == true" class="locked">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p (click)="goToPopup(activity.Activity.unlock_id)" class="line-break">
              {{ activity.Activity.name }} 
            </p>  
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
