<ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col col-12 class="flex-display">
        <ion-title *ngIf="anyNewItems == 'true'">New Items</ion-title>
        <button *ngIf="anyNewItems == 'true'" 
          (click)="closeItemsShwon()" 
          class="close" 
          menuClose="right">&times;</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>
<ion-content class="activities" scroll="false" *ngIf="anyNewItems == 'false'">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>
  <ion-grid>
    <!-- <ion-row class="score-board">
      <div class="score-board-inner">
         <ion-col>
          <div class="score-inner-box">
            <div>
              <h4>{{ 'ACTIVITY.PROGRESS' | translate }}</h4>
              <h1>{{ currentPercentage || 0 }}%</h1>  
            </div>
          </div>
        </ion-col> 
        <ion-col>
          <div class="score-inner-box">
            <div>
              <h4>{{ 'ACTIVITY.POINTS' | translate }}</h4>
              <h1>{{ characterCurrentExperience || 0 }}</h1>
            </div>
          </div>
        </ion-col>
      </div>
    </ion-row> -->
    <ion-row class="score-board">
      <ion-col col-12>
        <img class="dashboard-logo" src="./assets/img/main/logo01.svg" />
      </ion-col>
      <ion-col col-12>
        <ul class="dashboard-data">
          <li col-4>
            <p class="title">Bookings</p>    
            <p class="number">0</p>
            <p class="link" [navPush]="eventsListPage">Browse Events</p>            
          </li>
          <li col-4>
            <p class="title">Points</p>
            <p class="number">{{ characterCurrentExperience || 0 }}</p>
            <p class="link" [navPush]="rankingsPage">Ranking</p>
          </li>
          <li col-4>
            <p class="title">Grade</p>
            <p class="number">{{ currentPercentage || 0 }}</p>
            <p class="link" (click)="whatsThis()">What's this?</p>
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="activity-list">
      <ion-col>
        <div class="activity-error" *ngIf="returnError == true">
          <p>
            {{ activitiesLoadingErr }}
          </p>
        </div>
        <div *ngFor="let activity of activities; let i = index">
          <div *ngIf="activity.Activity.is_locked == false" class="unlocked bg-color-{{i}}">
            <div (click)="goToDetail(activity, activity.Activity.id)" class="line-break">
              <p col-7>{{ activity.Activity.name }}</p>
              <p col-3 class="ticks"> 
                <!-- <i class="fa fa-check-circle icon-color-{{i}}" [ngClass]="{'icon-color-default': !changeColor[i][0]}" aria-hidden="true"></i>
                <i class="fa fa-check-circle icon-color-{{i}}" [ngClass]="{'icon-color-default': !changeColor[i][1]}" aria-hidden="true"></i>
                <i class="fa fa-check-circle icon-color-{{i}}" [ngClass]="{'icon-color-default': !changeColor[i][2]}" aria-hidden="true"></i>
                <i class="fa fa-check-circle icon-color-{{i}}" [ngClass]="{'icon-color-default': !changeColor[i][3]}" aria-hidden="true"></i> -->
                <!-- This is hardcode just for display different numbers, coz ngClass add dynamic variable does not work -->
                <span *ngIf="i == 0">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 1">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-4': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-4': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-4': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-4': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 2">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-1': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-1': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-1': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-1': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 3">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-2': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-2': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-2': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-2': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 4">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-0': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-0': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-0': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-0': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 5">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-3': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-3': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-3': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-3': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
                <span *ngIf="i == 6">
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][0]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][1]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][2]}" aria-hidden="true"></i>
                  <i class="fa fa-check-circle-o icon-color-default" [ngClass]="{'icon-color-5': changeColor[i][3]}" aria-hidden="true"></i>
                </span>
              </p>
              <div col-2 class="assessment-score">
                <button block>
                  <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="activity.Activity.is_locked == true" class="locked">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <p (click)="goToPopup(activity.Activity.unlock_id)" class="line-break">
              {{ activity.Activity.name }} 
            </p>  
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="anyNewItems == 'true'" id="itemsPopup" class="items-popup">
  <ion-list class="items-popup-data">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-slides pager="true" class="tutorial-slides" *ngFor="let item of newItemsData">
            <ion-slide>
              <img *ngIf="item.meta !== null" class="item-popup-img" src="{{ item.meta.img }}" alt="item"/>
              <img *ngIf="item.meta === null || item.meta.img === null" 
                class="item-popup-img" 
                src="https://www.filepicker.io/api/file/ySw7HfSQbOmkVdowHrag" alt="item"/>
              <p class="item-popup-text">
                {{ item.name }} <span> x{{ item.count[0].count }}</span>
              </p> 
            </ion-slide>
          </ion-slides>
          <button class="general-circle-btn" (click)="closeItemsShwon()">OK</button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
