<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="flex-display">
          <ion-title data-content-name>{{ achievementName }}</ion-title>
          <button (click)="closeModal()" class="close" menuClose="right">&times;</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="ahievements-popup">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="popup-contents" *ngIf="enableData == true">
          <img class="badge-image" src="{{ badgeUrl }}" alt="Badge Image"/>
          <p>{{ description }}</p>
          <p class="badge-points" data-content-piece><span>{{ 'ACTIVITY.POINTS' | translate }}: </span> <span>{{ points }}</span></p>
        </div>
        <div class="popup-contents" *ngIf="enableData == false">
          <p>{{ achievementsLoadingErr }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
