<ion-header>
  <ion-navbar>
    <ion-title>{{ currentAchievement.name || achievementName }}</ion-title>  
  </ion-navbar>
</ion-header>
<ion-content class="ahievements-popup">
  <ion-grid>
    <ion-row>
       <ion-col>
         <div class="popup-contents">
          <img class="badge-image" src="{{ currentAchievement.badge || badgeUrl }}" alt="Badge Image"/> 
          <p>{{ currentAchievement.description || description }}</p>
          <p class="badge-points">
            <span>{{ 'ACTIVITY.POINTS' | translate }}: </span> 
            <span>{{ currentAchievement.points || points }}</span>
          </p>
        </div>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>