<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RANKING.ME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="rankings ranking-details">
  <ion-list>
    <ion-col>
      <div class="points-display">
        <p col-10>{{ 'RANKING.MONTHLYPOINTS' | translate }}</p>
        <p col-2>{{ monthlyPoints || 0 }}</p>
      </div>
    </ion-col>
  </ion-list>
  <ion-list>
    <ion-col>
      <div class="points-display">
        <p col-10>{{ 'RANKING.TOTALPOINTS' | translate }}</p>
        <p col-2>{{ totalPoints || 0 }}</p>
      </div>
    </ion-col>
  </ion-list>
  <ion-list>
    <ion-col *ngFor="let eachAchievement of userAchievementsData">
      <div class="ranking-item ranking-detail-item" (click)="goToBadgeDetailsPage(eachAchievement)">
        <img class="badge-image" col-2 src="{{ eachAchievement.badge || achievementBadgeImage }}" alt="Badge Image" /> 
        <p col-8>{{ eachAchievement.name || achievementName }}</p>
        <p col-2>{{ eachAchievement.points || achievementPoint }} <ion-icon name="arrow-forward"></ion-icon></p>
      </div>
    </ion-col>
  </ion-list>
</ion-content>
