<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RANKING.ME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="rankings ranking-details">
  <ion-list class="ranking-points">
    <ion-item>
      {{ 'RANKING.TOTALPOINTS' | translate }}
      <div item-end>
        <b>{{ totalPoints || 0 }}</b>
      </div>
    </ion-item>
    <ion-item>
      {{ 'RANKING.MONTHLYPOINTS' | translate }}
      <div item-end>
        <b>{{ monthlyPoints || 0 }}</b>
      </div>
    </ion-item>
  </ion-list>
  <ion-list inset>
    <ion-item
      *ngFor="let eachAchievement of userAchievementsData"
      (click)="goToBadgeDetailsPage(eachAchievement)"
      detail-push>
      <ion-thumbnail item-start>
        <img src="{{ eachAchievement.badge || achievementBadgeImage }}">
      </ion-thumbnail>
      <h2 text-wrap>{{ eachAchievement.name || achievementName }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
