<ion-header>
  <ion-navbar>
    <ion-title>{{ 'RANKING.ME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="rankings ranking-details">

  <ion-list>
    <ion-item>
      {{ 'RANKING.MONTHLYPOINTS' | translate }}
      <div item-end>
        <b>{{ monthlyPoints || 0 }}</b>
      </div>
    </ion-item>
    <ion-item>
      {{ 'RANKING.TOTALPOINTS' | translate }}
      <div item-end>
        <b>{{ totalPoints || 0 }}</b>
      </div>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item
      *ngFor="let eachAchievement of userAchievementsData"
      (click)="goToBadgeDetailsPage(eachAchievement)"
      detail-push
    >
      <ion-avatar item-start>
        <img src="{{ eachAchievement.badge || achievementBadgeImage }}">
      </ion-avatar>
      <h2>{{ eachAchievement.name || achievementName }}</h2>
      <div item-end>
        <b>{{ eachAchievement.points || achievementPoint }}</b>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
