<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{activityData.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <h2>{{ activityData.name }}</h2>
    <p>{{ activityData.description || 'No descriptions available.' }}</p>
  </ion-list>
  <ion-card *ngIf="activityData.video_url">
    <ion-card-content>
      <video controls width="100%" height="100%">
        <source src='{{activityData.video_url}}' autostart="false">
      </video>
      <!-- <iframe width="100%" height="200px" src="{{activityData.video_url}}" frameborder="0" allowfullscreen></iframe> -->
    </ion-card-content>
  </ion-card>
</ion-content>