.activity-badge-bg-1 {
  background-color: rgba(215, 238, 236, 1);
}
.activity-badge-bg-2 {
  background-color: rgba(255, 240, 203, 1);
}
.activity-badge-bg-3 {
  background-color: rgba(204, 213, 235, 1);
}
.activity-badge-bg-4 {
  background-color: rgba(228, 240, 214, 1);
}
.activity-badge-bg-5 {
  background-color: rgba(217, 240, 247, 1);
}
.activity-badge-bg-6 {
  background-color: rgba(255, 240, 203, 1);
}
.activity-badge-bg-7 {
  background-color: rgba(233, 246, 245, 1);
}
.activity-badge {
  display: flex;
  justify-content: center;
  align-items: center;
}
.activity-badge > img {
  width: 9em;
  padding: 0.5em 0;
}
.toolbar-background-ios,
.toolbar-background-md {
  background: transparent;
}
.activity-detail {
  .pulse-button {
    border: none;
    box-shadow: 0 0 0 0 rgba(255, 203, 5, 0.8);
    border-radius: 50%;
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  .pulse-button:hover {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
  }
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}   

  .scroll-content {
    margin-top: 225px !important;
  }
  &.header {
    background-color: color($colors, background, contrast);
    .toolbar-background {
      background-color: transparent;
    }
    .header-content {
      text-align: center;
      color: $background-color;
      border-bottom: 1px solid color($colors, background, base);
      .icon {
        font-size: 10rem;
      }
    }
  }
  .best-grade-color {
    background-color: color($colors, palette-one, contrast);
    border-radius: 18pt;
  }
  .better-grade-color {
    padding: 0.2em 1em;
    background-color: color($colors, primary-button, base);
    border-radius: 18pt;
  }
  .worse-grade-color {
    padding: 0.2em 1em;
    background-color: color($colors, badge-bg, base);
    border-radius: 18pt;
  }
  .badges {
    img {
      max-height: 8em;
    }
    .disabled {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }
  .question-mark-button {
    position: relative;
    top: 147px;
    right: 0px;
    left: -70px;
    z-index: 10;
    width: 30px;
    height: 30px;
    ion-icon[name="help"] {
      color: color($colors, background, contrast);
      font-size: 24pt;
      font-weight: 600;
    }
  }
  .add-submission {
    position: relative;
    top: 140px;
    z-index: 10;
  }
  .submissions {
    ion-col {
      padding: 0;
      &.note {
        font-size: 12px;
        align-self: flex-start;
        text-align: right;
      }
    }
    ion-chip, ion-icon {
      background-color: color($colors, border);
      width: 5rem;
    }
    ion-list-header,
    ion-item {
      padding-left: 0px;
    }
    ion-list-header {
      border-top: none;
      border-bottom: 1px solid color($colors, border);
    }
    .submissions-information {
      h2, p {
        font-family: 'Museo-500';
      }
    }
    .note {
      display: flex;
      justify-content: center;
      align-items: center;
      ion-badge {
        border-radius: 18pt;
        width: 32px;
      }
    }
  }
  #submissionIcon {
    font-size: 5rem;
    font-weight: 600;
    color: color($colors, background, contrast);
  }
  .pendingbutton {
    padding: 3px 8px;
    border-radius: 20px;
    width: 32px;
    font-size: 1.5rem;
    color: color($colors, background, contrast);
    background-color: color($colors, secondary);
  }
  .medals-display {
    margin-bottom: 0px;
    .medal-statistics {
      margin-bottom: 0px;
    }
    .medal-ticks {
      ion-item {
        padding-left: 0px;
      }
      .item-inner {
        border: none;
        margin: 0px;
        padding: 0px;
      }
      .badge-default {
        font-size: 14pt;
        border-radius: 30pt;
        ion-label {
          text-align: center;
          margin: 0px;
        }
        ion-badge,
        button {
          font-size: 15pt;
          padding: 3px 12px;      
          border-radius: 18px;
        }
        button {
          background-color: color($colors, secondary);
          color: color($colors, background, contrast);
        }
      }
    }
    .each-tick {
      font-size: 26pt;
      padding: 0 2px;
    }
    .each-tick:first-child {
      padding-left: 0px;
    }
    .tick-color-default {
      color: color($colors, dark, contrast);
    }
    .tick-color-1 {
      color: color($colors, palette-five, base);
    }
    .tick-color-2 {
      color: color($colors, palette-four, contrast);
    }
    .tick-color-3 {
      color: color($colors, palette-three, base);
    }
    .tick-color-4 {
      color: color($colors, palette-one, contrast);
    }
    .tick-color-5 {
      color: color($colors, button, contrast);
    }
    .tick-color-6 {
      color: color($colors, palette-one, base);
    }
    .tick-color-7 {
      color: color($colors, palette-five, base);
    }
  }
}
@media screen and (max-width: 321px) {
  // activity detail styling 
  .badge-default ion-badge {
    font-size: 13pt !important;
    padding: 3px 10px !important;
  }
}
