<ion-header class="activity-detail">
  <ion-navbar>
    <ion-title>{{ activity.name }}</ion-title>
    <ion-buttons end *ngIf="activity.description">
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-list class="header-content">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-icon name="{{activity.icon || 'globe'}}" item-left></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-header>

<ion-content padding class="activity-detail">
  <ion-fab top center-right edge *ngIf="false">
    <button ion-fab color="soft-green" mini>
      <ion-icon name="help" color="secondary"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab top right edge *ngIf="!loadings.submissions">
    <button ion-fab color="soft-green" (click)="goAssessment()">
      <ion-icon name="add" color="secondary"></ion-icon>
    </button>
  </ion-fab>

  <ion-list class="badges spacer-top-lg" *ngIf="activity.badges">
    <ion-slides pager>
      <ion-slide *ngFor="let badge of activity.badges" [ngClass]="{'disabled': badge.disabled }">
        <img [src]="badge.url">
      </ion-slide>
    </ion-slides>
  </ion-list>

  <ion-list class="submissions">
    <ion-list-header>
      {{ 'ACTIVITY.SUBMISSION' | translate }}
    </ion-list-header>

    <ion-item *ngIf="loadings.submissions" class="center">
      <loading-marker [loading]="loadings.submissions"></loading-marker>
    </ion-item>

    <ion-item *ngFor="let submission of submissions" (click)="goAssessment(submission, {hasSubmission: true})">
      <ion-row *ngIf='!submission.statusTitle.published'>
        <ion-item class="submission-title" col-10>
          <h2 *ngIf='!submission.statusTitle.inprogress && submission.statusTitle.moderated_assessment'>Waiting for Review</h2>
          <h2 *ngIf='!submission.statusTitle.inprogress && !submission.statusTitle.moderated_assessment'>Done</h2>
          <h2 *ngIf='submission.statusTitle.inprogress'>In Progress</h2>
          <p>{{ (submission.submitted || submission.created).format() | amDateFormat:"MMM D YYYY, h:mm a" }}</p>
        </ion-item>
        <ion-item class="note" col-2>
          <button block class="pendingbutton" *ngIf="submission.status !== 'done'">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </button>
          <ion-badge *ngIf="submission.status === 'done'" [ngClass]="{'best-grade-color': eachScore >= 3.5, 'better-grade-color': (eachScore < 3.5 && eachScore >= 2), 'worse-grade-color': eachScore < 2 }">
            4
          </ion-badge>
        </ion-item>
      </ion-row>

      <ion-row *ngIf='submission.statusTitle.published'>
        <ion-item class="submission-title" col-10>
          <h2 *ngIf="submission.statusTitle">{{ submission.statusTitle | truncate: 50 }}</h2>
          <h2 *ngIf="!submission.statusTitle">{{ submission.statusTitle.name }}</h2>
          <p>{{ (submission.submitted || submission.created).format() | amDateFormat:"MMM D YYYY, h:mm a" }}</p>
        </ion-item>
        <ion-item class="note" col-2>
          <ion-badge [ngClass]="{'best-grade-color': submission.statusTitle.score >= 3.5, 'better-grade-color': (submission.statusTitle.score < 3.5 && submission.statusTitle.score >= 2), 'worse-grade-color': submission.statusTitle.score < 2 }">
            {{ submission.statusTitle.score }}
          </ion-badge>
        </ion-item>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>

