<ion-content class="login-module" *ngIf="verifySuccess == true">
  <ion-grid class="default-center-container">
    <ion-row class="main-login-text">
      <ion-col>
        <h3 col-offset-1 col-10 col-offset-1>
          <img class="main-logo core-logo" src="./assets/img/main/Logo-02.png" />
          <img class="main-logo" src="./assets/img/main/logo01.svg" />
        </h3>
        <p class="login-welcome-text" col-offset-1 col-10 col-offset-1>
          {{ 'RESETPASSWORD.PAGETITLE' | translate }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-1>
        <form #resetPasswordForm="ngForm"
          [formGroup]="resetPwdFormGroup"
          class="general-form">
          <ion-list>
            <ion-item no-lines>
              <ion-input type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="New Password"
                formControlName="password"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="password"
                (keyup)="verifyPwdKeyUp()"
                [(ngModel)]="verify_password"
                name="verify_password"
                placeholder="Confirm password"
                formControlName="verify_password"></ion-input>
            </ion-item>
          </ion-list>
            <button type="submit"
              ion-button
              round
              block
              class="primary-button"
              (click)="updatePassword()"
              [disabled]="password!=verify_password || resetPasswordForm.invalid">
              {{ 'GENERAL.DONE' | translate }}
            </button>
          <div *ngIf="verifyPwd == true">
            <div *ngIf="pwdMatchCheck()" class="error-hint">
              <small class="text-danger">
                {{ passwordMismatchMessage }}
              </small>
            </div>
            <div *ngIf="checkMinLength() == true" class="error-hint">
              <small class="text-danger">
                {{ passwordMinlengthMessage }}
              </small>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 <ion-content class="mode-warn" *ngIf="verifySuccess == false">
  <div class="mode-warn-sms">
    <div class="mode-text-container">
      <span>
        {{ invalidLinkErrMessage }}
      </span>
    </div>
  </div>
</ion-content>
