<ion-content class="login-module" *ngIf="verifySuccess == true">
  <ion-grid class="default-center-container">
    <ion-row>
      <ion-col col-12>
        <img class="default-logo" src="/assets/img/default/practera.png" alt="App Logo"/>
        <h3>
          {{ 'RESETPASSWORD.PAGETITLE' | translate }}
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-10 offset-1>
          <form #resetPasswordForm="ngForm"
          [formGroup]="resetPwdFormGroup"
          class="general-form">
          <ion-list>
            <ion-item no-lines>
              <ion-input type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="New Password"
                formControlName="password"></ion-input>
            </ion-item>
            <ion-item no-lines>
              <ion-input type="password"
                (keyup)="verifyPwdKeyUp()"
                [(ngModel)]="verify_password"
                name="verify_password"
                placeholder="Confirm password"
                formControlName="verify_password"></ion-input>
            </ion-item>
          </ion-list>
            <button type="submit"
              ion-button
              block
              class="general-circle-btn"
              color="practera-thick"
              (click)="updatePassword()"
              [disabled]="password!=verify_password || resetPasswordForm.invalid">
              {{ 'GENERAL.DONE' | translate }}
            </button>
          <div class="errors">
            <div *ngIf="verifyPwd == true">
              <div *ngIf="pwdMatchCheck()" class="error-hint">
                <small class="text-danger">
                  {{ passwordMismatchMessage }}
                </small>
              </div>
              <div *ngIf="checkMinLength() == true" class="error-hint">
                <small class="text-danger">
                  {{ passwordMinlengthMessage }}
                </small>
              </div>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 <ion-content class="mode-warn" *ngIf="verifySuccess == false">
  <div class="mode-warn-sms">
    <div class="mode-text-container">
      <span>
        {{ invalidLinkErrMessage }}
      </span>
      <button type="button"
        ion-button
        block
        class="general-circle-btn"
        color="practera-thick"
        (click)="goToLogin()">
        {{ 'GENERAL.BACKTO' | translate }}
      </button>
    </div>
  </div>
</ion-content>
