<div class="assessments">
  <div *ngFor="let assessment of assessments; let i = index" class="box" tappable>
    <div class="header">
      <button ion-button icon-only small clear class="pull-right">
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>

      <span class="title">{{ assessment['Assess.Assessment'].name }}</span>
    </div>
    <div class="spacer"></div>
    <div class="answer">
      <div *ngIf="assessment['Assess.Assessment'].answer">
        <div *ngIf="assessment['Assess.Assessment'].answer.type === 'file'">
          <div *ngIf="assessment['Assess.Assessment'].answer.files.length === 1">
            {{ assessment['Assess.Assessment'].answer.files.length + ' file uploaded.' }}
          </div>
          <div *ngIf="assessment['Assess.Assessment'].answer.files.length !== 1">
            {{ assessment['Assess.Assessment'].answer.files.length + ' files uploaded.' }}
          </div>
        </div>

        <div *ngIf="assessment['Assess.Assessment'].answer.type === 'text'">
          {{ assessment['Assess.Assessment'].answer.text | truncate: 150 }}
        </div>
      </div>

    </div>

  </div>
</div>
