.groups-question {
  .assessments-group-text {
    margin: 0px;
    h6 {
      font-weight: bold;
      font-family: 'Museo-500';
      color: color($colors, primary);
      text-transform: uppercase;
    }
    ion-list {
      margin: 14px 0px 0px;
    }
  }
  ion-item,
  ion-item.description {
    padding-left: 0px;
  }
}
