<ion-header>
  <readonly></readonly>
  <ion-navbar>
    <ion-title>Downloads</ion-title>
  </ion-navbar>
</ion-header>
<ion-content data-track-content>
  <ion-item
    data-track-name
    *ngFor="let file of files; let idx = index;" text-wrap (click)="view(file)">
    <ion-icon name="{{file.icon}}" class="fa" item-left></ion-icon>
    {{ file.name || 'Attachment ' + (++idx) }}
  </ion-item>

  <ion-item *ngIf="files.length == 0"  data-track-piece>
    No attachments available.
  </ion-item>

</ion-content>

