term-condition {
  ion-content {
    padding: 0px !important;
    overflow-y: hidden;
    .scroll-content {
      padding: 5px !important;
    }
    ion-item,
    .item-inner {
      border: none !important;
    }
    button.item-cover {
      border: 1px solid #ddd !important;
    }
    .list.list-ios,
    .list.list-md {
      margin: 0px 0 16px 0 !important;
    }
    .register-next {
      text-align: center;
      button {
        background-color: transparent;
        font-size: 14pt;
      }
    }
  }
}
