<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>{{ 'TERMCONDITIONS.PAGETITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <term-content></term-content>
  </ion-list>
  <ion-list *ngIf="accessMethod() == true">
    <ion-item>
     <ion-label>{{ 'TERMCONDITIONS.AGREE' | translate }}</ion-label>
     <ion-checkbox [(ngModel)]="agreed" (change)="toggleAgree()" value="Agree"></ion-checkbox>
   </ion-item>
  </ion-list>
  <ion-list class="register-next" *ngIf="accessMethod() == true">
    <button stable block disabled [disabled]="!agreed" (click)="agree(user)">{{ 'TERMCONDITIONS.NEXT' | translate }}</button>
  </ion-list>
  <ion-list *ngIf="accessMethod() != true">
    <button class="general-circle-btn"
      ion-button
      block
      class="primary-button" 
      (click)="backToSAccountPage()">
      Back
    </button>
  </ion-list>
</ion-content>
