/**
 * @description
 *  - Tutorial page
 * @page
 * - pages/settings/tutorial/tutorial.html
 */

tutorial-page {
  .header-md::after,
  .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
  }
}
.tutorial-slides {
  h1 {
    padding-bottom: 20pt;
  }
  p {
    padding: 0 36pt;
    margin-top: -12pt;
  }
  img {
    width: 36%;
  }
  button.general-circle-btn {
    width: 80%;
    margin: 0 auto;
  }
  .swiper-pagination {
    bottom: 16pt;
  }
}
.skip-button {
  border: none;
  float: right;
}
.slides-button {
  .toolbar-background {
    background-color: color($colors, secondary, base);
    border: none;
  }
  .next-button,
  .skip-button {
    float: right;
  }
  .prev-button,
  .next-button,
  .skip-button {
    background-color: color($colors, secondary, base) !important;
    color: color($colors, primary, base);
    box-shadow: none;
  }
}
