<ion-content class="events">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
	</ion-refresher>
  <div>&nbsp;</div>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-segment [(ngModel)]="filter">
          <ion-segment-button value="browses" (ionSelect)="selected('browses')">
            {{ 'EVENTS.BROWSE' | translate }}
          </ion-segment-button>
          <ion-segment-button value="my-bookings" (ionSelect)="selected('my-bookings')">
            {{ 'EVENTS.MYBOOKINGS' | translate }}
          </ion-segment-button>
          <ion-segment-button value="attended" (ionSelect)="selected('attended')">
            {{ 'EVENTS.ATTENDED' | translate }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-segment [(ngModel)]="filterLocation">
          <ion-segment-button value="all" (ionSelect)="selectedLocation('all')">
            {{ 'EVENTS.ALL' | translate }}
          </ion-segment-button>
          <ion-segment-button
            *ngFor="let location of locations; let i = index"
            [value]="location"
            (ionSelect)="selectedLocation(location)"
          >
            {{ location }}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>
    <ion-card *ngIf="showNoEventMessage()">
      <ion-card-content *ngIf="(filter === 'browses')">
        {{ emptyFilterErrMessage }}
      </ion-card-content>
      <ion-card-content *ngIf="(filter === 'my-bookings')">
        {{ noBookingsFilterErrMessage }}
      </ion-card-content>
      <ion-card-content *ngIf="(filter === 'attended')">
        {{ noAttendedFilterErrMessage }}
      </ion-card-content>
    </ion-card>
    <event *ngFor="let event of events; let i = index" [event]="event" (click)="view(event)" tappable></event>
  </ion-list>
</ion-content>
